# --- Git & IDEs ---
.vscode/
node_modules/

# --- Minecraft / CurseForge Client Caches ---
.curseclient/
local/
usercache.json
usernamecache.json
user-prefs.json
knownkeys.txt
minecraftinstance.json
manifest.json
modlist.html
__pycache__/
apikey.py

# --- Modpack Runtime Data & Logs ---
backups/
crash-reports/
crash-report/
logs/
screenshots/
fancymenu_data/
observable_announce/
hss_err*
hs*
packet.txt

# --- Game & Mod Configurations (User-Specific) ---
options.txt
saves/
resourcepacks/
emi.json

# --- Specific Mod Data & Generating Tools ---
gtceu/
ldlib/
modernfix/
patchouli_books/
patchouli_data/
patchouli_data.json
rhino.local.properties
extrakube from modpacks

# --- Map & Radar Mods ---
xaero/
Xaero*
journeymap*

# --- Developer / Build Tools (KubeJS & Mixin Output) ---
kubejs/probe/
probe/
mixin/
.mixin/
mixin.out/
.mixin.out/

# --- Compiled Binaries ---
*.jar